################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Main/.vs/Main/v16
/Main/Main/Main.vcxproj.filters
/Main/Main/Main.vcxproj.user
/Main/Debug
/Main/Main/Debug
/Main/Tests/Debug
*.user
/Main/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1
/Main/Main/StackVisualization/build-StackVisualization-Desktop_Qt_5_14_1_MSVC2017_32bit-Debug
